.inline{
    display: inline;
}

.indent{
    margin-left: 10px;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #8B4C9A;
}

.cajahora{
    margin-right: 5px;
    margin-left: -10px;
}

.minus{
    margin-top: 46px;
    margin-left: 15px;
}

.numFiltro{
    margin-top: auto;
    width: 50%;
}

.close{
    margin-right: 8px;
    margin-top: -5px;
}