<div ng-controller="FiltrosCtrl">
    <form><!--ng-change="changeFilters()"-->
        <ul class="list-unstyled">

            <li class="checkbox list-group">
                <label>
                    <input class="list-group-item" type="checkbox" ng-model="filtros[0].enabled">{{filtros[0].name}}
                </label>

                <div class="indent" ng-if="filtros[0].enabled"><br>
                    <div class="container">
                        <label class="checkbox-inline" ng-repeat="dia in dias">
                            <input type="checkbox" ng-model="dia.enabled" ng-change="addRemoveWholeDay(dia.key)">{{dia.name}}
                        </label>
                    </div>
                </div>

            </li>

            <li class="checkbox list-group">

                <label>
                    <input class="list-group-item" type="checkbox" ng-model="filtros[1].enabled">{{filtros[1].name}}
                </label>

                <div class="indent" ng-if="filtros[1].enabled"><br>

                    <div class="cajahora alert alert-info alert-dismissable" ng-repeat="interval in filterData.filters.avoidHours" >

                        <div class="row">
                            <a class="close" data-dismiss="alert" ng-click="removeInterval($index)">&times;</a>
                        </div>

                        <div class="row">

                            <div class="col-sm-4"
                                 ng-change="changeEndTime(interval)"
                                 uib-timepicker
                                 show-meridian="false"
                                 ng-model="interval.startTime"
                                 ng-model-options="{timezone: '-0600'}"
                                 minute-step="30">
                            </div>

                            <div class="col-sm-4">
                                <label><i class="glyphicon glyphicon-minus minus"></i></label>
                            </div>

                            <div class="col-sm-4"
                                 style="margin-left: -20px"
                                 ng-change="changeStartTime(interval)"
                                 uib-timepicker
                                 show-meridian="false"
                                 ng-model="interval.endTime"
                                 minute-step="30">
                            </div>

                        </div>

                        <div class="row">
                            <div class="container">
                                <label class="checkbox-inline" ng-repeat="dia in dias">
                                    <input type="checkbox" ng-model="diasPorHoras[$parent.$index][dia.key-1].enabled"
                                           ng-change="addRemoveDay(dia.key, interval)">{{dia.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a role="button" ng-click="addInterval()">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <label>Agregar intervalo</label>
                        </a>
                    </div>
                </div>

            </li>

            <li class="checkbox list-group">
                <label>
                    <input class="list-group-item" type="checkbox" ng-model="filtros[2].enabled">{{filtros[2].name}}
                </label>

                <div class="indent" ng-if="filtros[2].enabled"><br>
                    <label><input type="number" class="form-control" step="0.1" min="0" max="10" ng-model="filterData.filters.misProfMinAvgScore"></label>
                </div>

            </li>

        </ul>

    </form>

</div>