.glyphicon-ring {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid gray;
    border-spacing: 4px;
    color: white;
    display: inline-table;
    text-align: center;
    background: white;
    color: #8B4C9A;
}

.white a{
    color: #8B4C9A;
}

.white a:hover{
        color: #C298CC;
}