<div ng-if="selectedTab===1">
    <div ng-if="data1.length==0">
        <h5>Da click en "Generar horario" para ver las opciones de clases para las materias que seleccionaste. </h5>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="e in data1[indexCal1]">
            <div class="alert alert-info white" style="width: 100%">
                <div>
                    <b>
                        <a class="glyphicon glyphicon-pushpin" ng-class="{'glyphicon-ring': e.selected}" ng-click="addRemoveMustHaveGroups(e, 1)"></a>
                        <a>{{e.name}}</a>
                    </b><br>
                </div>
                <div><a target="_blank" href="{{e.teacher.misProfesoresData.link}}">{{e.teacher.name}}</a></div>
                <div>Rating en misprofesores.com: {{e.teacher.misProfesoresData.score}}</div>
                <div>
                    <span>{{e.days}}</span>
                    <span>{{e.schedule}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-if="selectedTab===2">
    <div ng-if="data2.length==0">
        <h5>Da click en "Generar horario" para ver las opciones de clases para las materias que seleccionaste. </h5>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="e in data2[indexCal2]">
            <div class="alert alert-warning">
                <div><b> <a class="glyphicon glyphicon-pushpin" ng-class="{'glyphicon-ring': e.selected}" ng-click="addRemoveMustHaveGroups(e, 2)"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a>{{e.name}}</a></b><br></div>
                <div><a target="_blank" href="{{e.teacher.misProfesoresData.link}}">{{e.teacher.name}}</a></div>
                <div>Rating en misprofesores.com: {{e.teacher.misProfesoresData.score}}</div>
                <div>
                    <span>{{e.days}}</span>
                    <span>{{e.schedule}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-if="selectedTab===3">
    <div ng-if="data3.length==0">
        <h5>Da click en "Generar horario" para ver las opciones de clases para las materias que seleccionaste. </h5>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="e in data3[indexCal3]">
            <div class="alert alert-danger">
                <div><b> <a class="glyphicon glyphicon-pushpin" ng-class="{'glyphicon-ring': e.selected}" ng-click="addRemoveMustHaveGroups(e, 3)"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a>{{e.name}}</a></b><br></div>
                <div><a target="_blank" href="{{e.teacher.misProfesoresData.link}}">{{e.teacher.name}}</a></div>
                <div>Rating en misprofesores.com: {{e.teacher.misProfesoresData.score}}</div>
                <div>
                    <span>{{e.days}}</span>
                    <span>{{e.schedule}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>