<div ng-controller="MateriasCtrl">
    <div ng-if="carreras.length==0">
        <h5>Selecciona al menos una carrera para poder ver las materias. Si tu carrera no aparece, selecciona "Todas/No aparece" en la pestaña de Carreras.</h5>
    </div>
    <div ng-if="carreras.length>1">
        <h5>Si seleccionaste más de una carrera, puedes encontrar las materias de las otras carreras más abajo</h5><hr>
    </div>
    <form><!--ng-change="changeFilters()"-->
        <div ng-repeat="carrera in carreras">
            <div ng-if="carrera.enabled">
                <h3>{{carrera.name}}</h3>
                <hr>
                <div ng-repeat="sem in planes[carrera.planes[0].index].semesters">
                    <h4>{{sem.number}}</h4>
                    <ul class="list-unstyled">
                        <li class="checkbox list-group" ng-repeat="materia in sem.classes">
                            <label><input class="list-group-item" ng-change="addRemoveMateria(materia)" type="checkbox" ng-model="materia.enabled">{{materia.name}}</label>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>