<div ng-controller="CarrerasCtrl">
    <form name="carrerasForm">
        <ul class="list-unstyled">
            <!--<li class="checkbox list-group">
                <label><input class="list-group-item" ng-model="todas"
            </li>-->
            <li class="checkbox list-group" ng-repeat="carrera in carreras">
                <label><input class="list-group-item" ng-model="carrera.enabled" ng-change="addRemoveCarrera(carrera)" type="checkbox">{{carrera.name}}</label>
            </li>
        </ul>
    </form>
</div>