﻿<!DOCTYPE html>
<html lang="en" ng-app="horarios">

<head>
    <meta charset="UTF-8">
    <title>Horarios</title>

    <link rel="stylesheet" href="vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/css/fullcalendar.min.css">

    <script src="vendors/js/jquery.min.js"></script>
    <script src="vendors/js/angular.min.js"></script>
    <script src="vendors/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
    <script src="vendors/js/moment.min.js"></script>
    <script src="vendors/js/fullcalendar.min.js"></script>
    <script src="vendors/js/gcal.min.js"></script>
    <script src="vendors/js/calendar.js"></script>
    <script src="vendors/js/angular-route.min.js"></script>
    <script src="vendors/js/angular-animate.min.js"></script>


    <script src="index.js"></script>
    <script src="indexCtrl.js"></script>
    <script src="data.js"></script>
    <script src="filtros/filtros.js"></script>
    <script src="carreras/carreras.js"></script>
    <script src="materias/materias.js"></script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="filtros/filtros.css">
    <link rel="stylesheet" href="clases/clases.css">
    <link rel="icon" type="image/png" href="vendors/images/expande.png">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-104105845-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<body data-spy="scroll" ng-controller="IndexCtrl">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Horarios ITAM</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://horarios-itam.firebaseapp.com/">Planear horario</a></li>
                <li class="active"><a href="/">Generar horario</a></li>
                <li><a href="https://horarios-itam.firebaseapp.com/bug_report.html">Reportar falla</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron jumbotron-style">
            <div>
                <h1 class="center">Generador de Horarios ITAM</h1>
                <p class="center">¡Genera tu horario!</p>
            </div>
            <div style="float: left;">
                <p style="font-size:small;"><i>Creado por Pedro y Fer, en colaboración con Consejo de Alumnos Expande 2017</i></p>
            </div>
        </div>
    </div>

    <div role="main">
        <div class="container">
            <section id="directives-calendar">
                <div class="well">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">

                            <div class="btn-group calTools">
                                <a href="#carreras" class="btn" ng-click="selectedTool='carreras'"
                                    style="text-align: center"
                                    ng-class="{'btn-primary': selectedTool=='carreras', 'btn-default': selectedTool!='carreras'}">
                                    Carreras
                                </a>
                                <a href="#materias" class="btn" ng-click="selectedTool='materias'"
                                    style="text-align: center"
                                    ng-class="{'btn-primary': selectedTool=='materias', 'btn-default': selectedTool!='materias'}">
                                    Materias
                                </a>
                                <a href="#filtros" class="btn" ng-click="selectedTool='filtros'"
                                    style="text-align: center"
                                    ng-class="{'btn-primary': selectedTool=='filtros', 'btn-default': selectedTool!='filtros'}">
                                    Filtros <span style="font-size: xx-small; color: darkblue">beta</span>
                                </a>
                                <a href="#clases" class="btn" ng-click="selectedTool='clases'"
                                    style="text-align: center"
                                    ng-class="{'btn-primary': selectedTool=='clases', 'btn-default': selectedTool!='clases'}">
                                    Clases
                                </a>
                            </div>

                            <div class="scrollable" ng-view></div>
                            <div class="scrollable" ng-include="'clases/clases.html'" ng-if="selectedTool=='clases'">
                            </div>

                        </div>

                        <div class="col-md-8 col-sm-8">

                            <uib-tabset>

                                <uib-tab select="renderCalendar('myCalendar1');">

                                    <uib-tab-heading class="opcion1">
                                        <i class="glyphicon glyphicon-calendar"></i>Opción 1
                                    </uib-tab-heading>

                                    <div class="alert-success calAlert"
                                        ng-show="alertMessage != undefined && alertMessage != ''">
                                        <h4>{{alertMessage}}</h4>
                                    </div>

                                    <div class="botones-generador">
                                        <div class="btn-group">

                                            <button class="btn btn-primary" ng-click="prevComb(1)">
                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                            </button>
                                            <!--ng-click="changeView('agendaDay', 'myCalendar1')-->

                                            <button class="btn btn-primary" ng-click="generarHorario(1)">
                                                <img src="vendors/images/loading.gif" ng-show="loading1" />
                                                Generar horario</button>
                                            <!--ng-click="changeView('agendaWeek', 'myCalendar1')"-->

                                            <button class="btn btn-primary" ng-click="nextComb(1)">
                                                <i class="glyphicon glyphicon-arrow-right"></i>
                                            </button>
                                            <!--ng-click="changeView('month', 'myCalendar1')"-->

                                        </div>
                                    </div>
                                    <span class="help-block" ng-if="error1">Hubo un error</span>

                                    <div ng-if="combFound1>0 && !pristine1">
                                        <h6>Se encontraron {{combFound1}} combinaciones</h6>
                                        <h4>{{indexCal1+1}}/{{combFound1}}</h4>
                                    </div>
                                    <h6 ng-if="combFound1==0 && !error1">No se encontraron combinaciones</h6>

                                    <div class="calendar" calendar="myCalendar1" ui-calendar="uiConfig.calendar"
                                        ng-model="sourceCal1"></div>

                                </uib-tab>

                                <uib-tab select="renderCalendar('myCalendar2');">

                                    <uib-tab-heading class="opcion2">
                                        <i class="glyphicon glyphicon-calendar"></i> Opción 2
                                    </uib-tab-heading>

                                    <div class="alert-success calAlert"
                                        ng-show="alertMessage != undefined && alertMessage != ''">
                                        <h4>{{alertMessage}}</h4>
                                    </div>

                                    <div class="botones-generador">
                                        <div class="btn-group">

                                            <button class="btn btn-warning" ng-click="prevComb(2)">
                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                            </button>

                                            <button class="btn btn-warning" ng-click="generarHorario(2)">
                                                <img src="vendors/images/loading.gif" ng-show="loading2" />
                                                Generar horario
                                            </button>

                                            <button class="btn btn-warning" ng-click="nextComb(2)">
                                                <i class="glyphicon glyphicon-arrow-right"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <span class="help-block" ng-if="error2">Hubo un error</span>

                                    <div ng-if="combFound2>0 && !pristine2">
                                        <h6>Se encontraron {{combFound2}} combinaciones</h6>
                                        <h4>{{indexCal2+1}}/{{combFound2}}</h4>
                                    </div>
                                    <h6 ng-if="combFound2==0 && !error2">No se encontraron combinaciones</h6>

                                    <div class="calendar" ng-model="sourceCal2" calendar="myCalendar2"
                                        ui-calendar="uiConfig.calendar"></div>

                                </uib-tab>

                                <uib-tab select="renderCalendar('myCalendar3');">

                                    <uib-tab-heading class="opcion3">
                                        <i class="glyphicon glyphicon-calendar"></i> Opción 3
                                    </uib-tab-heading>

                                    <div class="botones-generador">

                                        <div class="btn-group">

                                            <button class="btn btn-danger" ng-click="prevComb(3)">
                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                            </button>

                                            <button class="btn btn-danger" ng-click="generarHorario(3)">
                                                <img src="vendors/images/loading.gif" ng-show="loading3" />
                                                Generar horario
                                            </button>

                                            <button class="btn btn-danger" ng-click="nextComb(3)">
                                                <i class="glyphicon glyphicon-arrow-right"></i>
                                            </button>

                                        </div>

                                    </div>
                                    <span class="help-block" ng-if="error3">Hubo un error</span>

                                    <div ng-if="combFound3>0 && !pristine3">
                                        <h6>Se encontraron {{combFound3}} combinaciones</h6>
                                        <h4>{{indexCal3+1}}/{{combFound3}}</h4>
                                    </div>
                                    <h6 ng-if="combFound3==0 && !error3">No se encontraron combinaciones</h6>

                                    <div class="calendar" ng-model="sourceCal3" calendar="myCalendar3"
                                        ui-calendar="uiConfig.calendar"></div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAjJOy7Uq_wjDhJtfEWBeIhO4wUp8CXB30",
            authDomain: "generador-horarios-itam.firebaseapp.com",
            databaseURL: "https://generador-horarios-itam.firebaseio.com",
            projectId: "generador-horarios-itam",
            storageBucket: "generador-horarios-itam.appspot.com",
            messagingSenderId: "35403898668"
        };
        firebase.initializeApp(config);
    </script>

</body>

</html>